<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<p>Debashis Baidya</p>
<p>Occupation : Simulation Engineer </p>

<p><i>I am interested to Data Science because it is very interesting to me and as a student of mathematics I can see the future in data</i></p>

<p>The code below is just a simple mathematical addition</p>

In [4]:
5+5

10

<h5>First Thing</h5>
<ul>
<li><p>showing the bulleted list</p></li>
    <li><p>showing the bulleted list</p></li>
    <li><p>showing the bulleted list</p></li>
</ul>

<h5>2nd Thing</h5>
<ol>
<li><p>Numbered list</p></li>
    <li><p>Numbered list</p></li>
    <li><p>Numbered list</p></li>
</ol>


<h5>2nd Thing</h5>

<table>
<thead><tr>
<th><strong>S.No.</strong></th>
<th><strong>Name</strong></th>
<th><strong>Age</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>1.</td>
<td>Deba</td>
<td><em>30</em> </td>
</tr>
<tr>
<td>2.</td>
<td>Bikash</td>
<td><em>27</em> </td>
</tr>
</tbody>
</table>